<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/MetaTags') %>

    <title>404 Not Found</title>
</head>

<body>
    <%- include('../../components/Header') %>

    <h1>That page does not exist.</h1>
</body>

</html>
