<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/MetaTags') %>

    <title>404 Not Found</title>
</head>

<body>
    <%- include('../../components/Header') %>

    <div class="container">
        <h4>That page does not exist.</h4>
    </div>
</body>

</html>
