.material-icons {
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    position: relative;
    user-select: none !important;
    -webkit-user-select: none !important;
}

body {
    height: 100vh;
}

.navbar-fixed nav {
    background-color: #1b1a25;
}

nav,
.nav-mobile,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i,
.navbar-fixed {
    height: 50px;
    line-height: 50px;
}

.left-div,
.top-div {
    position: absolute;
    left: 0;
    top: 0;
}

.left-div-padding,
.top-div-padding {
    position: relative;
}

.left-div {
    width: 12px;
    height: 100%;
}

.left-div-padding {
    padding-left: 36px;
}

.top-div {
    width: 100%;
    height: 12px;
}

.top-div-padding {
    padding-top: 36px;
}

.fp-red {
    background-color: #a62023;
}

.fp-red:hover,
.fp-red:focus {
    background-color: #951d20;
}

.fp-red-text {
    color: #a62023;
}

.fp-black {
    background-color: #1b1a25;
}

.fp-black:hover,
.fp-black:focus {
    background-color: #181721;
}

.fp-black-text {
    color: #1b1a25;
}
