<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/MetaTags') %>

    <title>Blog - Articles</title>
</head>

<body>
    <%- include('../../components/Header') %>

    <p><%- article.title %></p>
</body>

</html>
