<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/MetaTags') %>

    <title>Blog - Articles</title>
</head>

<body>
    <%- include('../../components/Header') %>

    <form action="" method="post">
        
    </form>
</body>

</html>
