<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/MetaTags') %>

    <title>Mini Blog</title>
</head>

<body>
    <%- include('./components/Header') %>

    <script src="./src/js/scripts.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./service-worker.js');
        }
    </script>
</body>

</html>
