<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo hide-on-small-and-down">Simple MD Blog</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/articles">Articles</a></li>
                <li><a href="https://github.com/lucasgdb/simple-markdown-blog" target="_blank" rel="noopener noreferrer">GitHub</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    <li style="background-color: #1b1a25;">
        <div class="user-view">
            <div class="background"></div>
            <a href="."><img src="/static/PWA_images/logo64x64.png" alt=""></a>
            <a href="https://github.com/lucasgdb" target="_blank" rel="noopener noreferrer"><span class="white-text name">Lucas Bittencourt</span></a>
            <a href="#lucasgdbittencourt@gmail.com"><span class="white-text email">lucasgdbittencourt@gmail.com</span></a>
        </div>
    </li>
    <li>
        <a href="/articles"><i class="material-icons left">message</i>Articles</a>
    </li>
    <li><a href="https://github.com/lucasgdb/simple-markdown-blog" target="_blank" rel="noopener noreferrer"><i class="material-icons left">code</i>Source code</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Contact</a></li>
    <li><a class="waves-effect" href="https://github.com/lucasgdb" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    <li><a class="waves-effect" href="https://www.facebook.com/lucasgdbittencourt" target="_blank" rel="noopener noreferrer">Facebook</a></li>
</ul>

<script src="/components/Header/scripts.js"></script>
