<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo">Mini Blog</a>
            <ul class="right hide-on-med-and-down">
                <li><a href=".">More</a></li>
                <li><a href="https://github.com/lucasgdb" target="_blank" rel="noopener noreferrer">GitHub</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    <li style="background-color: #1b1a25;">
        <div class="user-view">
            <div class="background"></div>
            <a href="."><img src="/static/PWA_images/logo64x64.png" alt=""></a>
            <a href="#name"><span class="white-text name">Lucas Bittencourt</span></a>
            <a href="#email"><span class="white-text email">lucasgdbittencourt@gmail.com</span></a>
        </div>
    </li>
    <li>
        <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
    </li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        M.Sidenav.init(document.querySelectorAll('.sidenav'));
    });
</script>
